<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/landing.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
            <%if(success && success.length > 0) {%>
          <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <%} else { %>

        <%} %>

        <%if(error && error.length > 0) {%>
          <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <%} else { %>

        <%} %>