<%- include("../partials/header") %>
<div class="formBox mt-5  ">
 
    <h1 class="text-center">Share your Photo</h1>




<form action="/campgrounds" method="POST" id="form1" enctype="multipart/form-data">
    <div class="container">
        <div class="form-group row">           
            <div class="col-12">
              <input type="text" class="form-control" name="campground[name]" placeholder="Photos Name" required>
            </div>
        </div>
        <div class="form-group row">           
          <div class="col-12">
            <input type="text" class="form-control" name="campground[location]" placeholder="Location" required>
          </div>
        </div>

        <div class="form-group row">           
          <div class="col-12">
            <input type="text" class="form-control" name="campground[description]" placeholder="Write Desciption" required>
          </div>
          
        </div>
        <div class="form-group row">           
          <div class="col-12">
            <label for="newphoto">Upload Image</label>
            <input style="display: inline;" type="file" class="form-control" id="newphoto" name="image" accept="image/*" required>
          </div>           
      </div>
        <div class="form-group row">           
            <div class="col-12">
              <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
            
        </div>
        <a href="/campgrounds">Get Back to camp</a>
    </div> 
</form>
</div>





<%- include("../partials/normalFooter") %>